# Introduction to SQLite and its usage with Python

In [2]:
import sqlite3

## Create a connection,a table and add data

In [3]:
conn = sqlite3.connect("example2.db")

In [5]:
cur=conn.cursor()

In [7]:
cur.execute("Create Table customer (Name Text,Income Real)")

In [8]:
cur.execute("Insert into customer values('Mark','5000')")

In [9]:
conn.commit()

## Connect to an existing database

In [11]:
conn=sqlite3.connect("example2.db")
cur=conn.cursor()

In [13]:
cur.execute("Select * from customer")

In [14]:
cur.fetchone()

('Mark', 5000.0)

In [15]:
for row in cur.execute("Select * from customer"):
    print(row)

('Mark', 5000.0)

## Add several Rows

In [16]:
customer_list=[('John',4000),('Ram',6500)]

In [17]:
cur.executemany("Insert into customer Values (?,?)",customer_list)

In [18]:
for row in cur.execute("Select * from customer"):
    print(row)

('Mark', 5000.0)
('John', 4000.0)
('Ram', 6500.0)

In [19]:
conn.commit()

In [20]:
conn.close()

## Run queries

In [25]:
conn=sqlite3.connect("example2.db")
cur=conn.cursor()

In [27]:
cur.execute("Select * from customer where Name='Ram'")
cur.fetchall()

[('Ram', 6500.0)]

In [28]:
cur.execute("Select * from customer where Name='Raju'")
cur.fetchall()

[]

In [30]:
cur.execute("Select * from customer ORDER BY Name desc")
cur.fetchall()

[('Ram', 6500.0), ('Mark', 5000.0), ('John', 4000.0)]

In [31]:
cur.execute("Select SUM(Income) from customer")
cur.fetchall()

[(15500.0,)]

In [32]:
conn.close()